@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme{
  --font-montserrat:"Montserrat";
}

.iconos{
    width: 70px;
    height: 70px;
  }


  #gradient-bg{
    width:100%;
    height:100vh;
    
    /* https://grabient.com/HQRgrAzANKAcAsMQHYBMSwE4atrHI6wYYIMyFMAbLAAw50P3C70C0oVYMpzsEVKLSA?angle=0&steps=3 */

    /* https://grabient.com/IwOgDAnA7ANCBs8JwEz1qYZYIMzJABYUCsU4tc5IBWOQhuG3ckKXMIA?angle=270&steps=5 */

background: linear-gradient(270deg, #0f0b36 0.000%, #031247 25.000%, #001e57 50.000%, #002d67 75.000%, #093f76 100.000%);

    /* background: linear-gradient(0deg, #000000 0.000%, #000000 50.000%, #002712 100.000%); */
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  